# List all the excludes for committing the code to Bitbucket ( version controller )
# -------------------------------------------------------------------------------
# Node Modules

node_modules/*

# Package-lock.json files
package-lock.json


# Log files
resources/logs/responselogs/*
resources/views/swagger-api-view.json

# For Config remover

# config/*.json
# .env

MongoSchemas/*

.env

audit.json

storageconfig.json

logs